[Unit]
Description=Reposilite Maven Repository hosting server
Documentation=https://reposilite.com/docs/about

After=docker.service
After=network.target
Requires=docker.service
Requires=network.target

[Service]
User=reposilite
Group=reposilite

Environment="DOCKER_REPOSILITE_CONFIG_FILE=/etc/reposilite/app.ini"

ExecStart=reposilite.sh
ExecStop=docker container stop reposilite
ExecStopPost=docker container rm reposilite

Restart=on-failure

[Install]
WantedBy=multi-user.target
