#!/bin/bash
# $Id: courier-imap-4.0.1-gentoo-pop3d.rc,v 1.1 2005/01/05 15:46:55 langthang Exp $
#
# Copyright 1998 - 2000 Double Precision, Inc.
# See COPYING for distribution information.

prefix=/usr
exec_prefix=/usr
bindir=/usr/sbin
libexecdir=/usr/lib/courier-imap

source /etc/courier-imap/pop3d-ssl
source /etc/courier-imap/pop3d

# The new courier-authlib doesn't use these settings.
#LIBAUTHMODULES=""
#for f in `echo $AUTHMODULES`
#do
#	LIBAUTHMODULES="$LIBAUTHMODULES /usr/lib/courier-imap/authlib/$f"
#done

export POP3DSTARTTLS=$POP3_STARTTLS
TLS_PROTOCOL=$TLS_STARTTLS_PROTOCOL
eval `sed -n '/^#/d;/=/p' </etc/courier-imap/pop3d | \
	sed 's/=.*//;s/^/export /;s/$/;/'`
eval `sed -n '/^#/d;/=/p' </etc/courier-imap/pop3d-ssl | \
	sed 's/=.*//;s/^/export /;s/$/;/'`

eval $PRERUN \
/usr/lib/courier-imap/couriertcpd -address=$ADDRESS \
	-stderrlogger=/usr/lib/courier-imap/courierlogger \
	-stderrloggername=pop3d \
	-maxprocs=$MAXDAEMONS -maxperip=$MAXPERIP \
	-pid=$PIDFILE $TCPDOPTS \
	$PORT ${exec_prefix}/sbin/pop3login \
		/usr/sbin/courier-pop3d ${MAILDIR}
