[Unit]
Description=Policyd

[Service]
User=nobody
Group=nobody
EnvironmentFile=/etc/conf.d/policyd
ExecStart=/usr/sbin/policyd -c ${POLICYD_CONFIG}

[Install]
WantedBy=multi-user.target
